</body>
</html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/signinhomestyles.css">
    <title>PepperBlinds | Homepage</title>
    <!-- <style media="screen">
      body { padding-top: 80px; }
    </style> -->
  </head>
  <body>
    <div id="backgroundimage">
      <div id="buttonsbox">
        <h1 id="sitename">Pepper Blinds <h1>
        <button type="button" class="sign" id="signin">Log In</button>
        <button type="button" class="sign" id="signup">Sign Up</button>
      </div> <!-- TopBarStuff -->
      <br><br>
      <div id="OfferStuff">
        <div id="specialoffers">
          <h4 id="sofontstuff">Special Offers!...</h4>
            <%for (var i = 0; i < options.length && i<3 ; i++) { %>
          <div id="sOffers" style="background-image:url('<%=options[i].imageLink%>');">
            <div style="background-color:rgba(0, 0, 0, 0.5);">
              <h1  id="dahspecnameinf"><a  onclick = 'alert("You Need To Be Logged In To See This Page")'style="color:white;" href="/treatment/<%=options[i].id%>" class="gotoblindpurchase"><%=options[i].name%></a></h1>
                <p id="dahspecdescinf"><%=options[i].style %>  </p>
                <p id="dahspecdescinf">$<%= options[i].ppsf%> Per Square Foot</p>
              </div>
          </div>
              <% } %>
        </div>
        <div id="bar">
          <h3 id="informer"><a id="buypepplusbtn" href="#">Buy <h3 id="idk1">Pepper+</h3></a> : Unlimited Warranty   |   10% Off Future Blinds   |   25% Off Installations   |   $10 Per Year</h3>
        </div>
        <div id="moreoffers">
          <h4 id="mofontstuff">More Offers...</h4>
          <%for (var i = 0; i < options.length ; i++) { %>
            <% if (i > 3) { %>
              <div id="sOffers" style="background-image:url('<%=options[i].imageLink%>');">
                <div style="background-color:rgba(0, 0, 0, 0.5);">


                  <h1 id="dahmorenameinf"><a onclick = 'alert("You Need To Be Logged In To See This Page")' style="color:white;" href="/treatment/<%=options[i].id%>" class="gotoblindpurchase"><%=options[i].name%></a></h1>
                  <p id="dahspecdescinf"><%=options[i].style %>  </p>
                  <p id="dahspecdescinf"><%= options[i].ppsf%> Per Square Foot</p>

                </div>
              </div>
           <%}%>

          <% } %>

        </div>
      </div>
      <div id="paypalstuff">
        <button type="button" id="closepaypal">X</button>
        <div id="paypepplus">Sign up for <h1 id="pepplus">Pepper</h1><h1 id="pepplus2">+</h1>
          <div id="payinfostuff">
            <h1 id=payinf>Unlimited Warranty  |   10% Off Future Blinds  |   25% Off Installations </h1>
            <!-- <br class="break"> -->
            <h1 id="payinf1">$10</h1><h1 id=payinf1-2>/Year</h1>
            <!-- <br class="break"> -->
            <h1 id="payinf2">You Would Save $25 On Your Current Purchase </h1>
            <button type="button" id="paypalbtn">
              <!-- <img href="https://i0.wp.com/ascendhealthdenver.com/new/wp-content/uploads/2015/02/paypal-checkout-button.png?fit=505%2C262" alt="paypal"> -->
            </button>
          </div>
        </div>
      </div>
      <center> <div id="loginstuff">
        <h1 id="signintext">Login</h1>
        <% if(message.length>0){%>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <!-- login form -->
        <form id="dahsignins" name="signin" method="post" action="signin">
          <!-- <div class="form-group"> -->
          <input name="email" type="text" placeholder="Email" class="userinfo" id="signinuser">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <br>
          <input name="password" type="password" placeholder="Password" class="userinfo" id=signinpass>
          <!-- </div> -->
          <br>
          <button type="submit" class="btn btn-warning btn-lg" id="signinbtn">Login</button>
          <br>

        </form>
        <div class="button_slide slide_down">BUTTON: SLIDE DOWN </div>

        <p>Need an account? <a href="/signup">Signup</a></p>
      </div> </center>
    </div>
  </body>
  <script src="/assets/signinhomepage.js" charset="utf-8">></script>
</html>
